h1 
{
     font-family: Lato; 
}
.marathi-component 
{
     border: 1px solid gray;
     padding: 5px;
     padding-bottom: 20px;
     padding-left: 20px;
     border-radius: 10px;
     background-color:yellow;
     color: black;
   }