<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div>
      Enter the Full Name :<br>
       <input type="text" placeholder="Full Name*" formControlName="fullName"/><br>
      Enter the Email : <br>
       <input type="text" placeholder="Email" formControlName="emailId"/><br>
       Enter the Mobile Number :<br> 
       <input type="text" placeholder="Mobile*"  formControlName="mobileNumber"/><br>
       Enter the Address : <br>
       <h3><span (click)="addAddress()" style="cursor: pointer"> + Address</span> </h3>
       <div formArrayName="address" *ngFor="let add of employeeForm.controls.address?.value; let i = index;">
       <div [formGroupName]="i">
         <input formControlName="street" placeholder="Street">
         <input formControlName="city" placeholder="City">
         <input formControlName="state" placeholder="State">
         <input formControlName="zipCode" placeholder="Pin Code">
       </div>
       </div>
        <br>
       Gender : <br>
       <input type="radio" formControlName="gender" value="male"/>
       <label> Male </label><br>
       <input type="radio" formControlName="gender" value="female"/>
       <label> Female </label><br>
       <input type="radio" formControlName="gender" value="others"/>
       <label> Others </label><br>
       <br>Department:<br>
       <select formControlName="department">
        <option value="">Choose your department</option>
        <option *ngFor="let department of departments" >{{department}}</option>
      </select>
    </div>
    <br>
    <label for="start">Hire date:<br>
      <input type="date" id="start" name="hiredate" value="2018-07-22" min="1900-01-01" max="3000-12-31" formControlName="hireDate"><br><br>
</label><br>
    <input type="checkbox" formControlName="permanent">Permanent Employee<br>
    <button type="submit" [disabled]="!employeeForm.valid">Enter</button>
    <button (click)="resetForm()">Clear</button>
</form>